.ocultar {
    display: none;
}

.mostrar {
    display: block;
 
}
.mostrar1{
    background-color: #0cce19;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
    width: 560px;
    height: 320px;
    transition: 2s;
}
.mostrar1:hover{
    transform: matrix3d(180deg);
    opacity: 0.8;
    background-color: #0cce19(255, 255, 255);
}
.sesion{
    text-transform: uppercase;
    font-size: 28px;
    color: #000000;
    
}
#mostrar {
    width: 220px;
    height: 220px;
    background-color: #a7a77e;
    border-radius: 20px;
    padding: 30px;
}

.imgProducto {
    height: 100px;
}

.resultado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.producto {
    text-align: center;
    background-color: #0cce19;
    margin: 1%;
    border-color: black;
    border-radius: 20px;
    padding: 40px;
    align-items: center;
}
.verDatosEnPantalla{
    background-color: #27e233;
    margin: 30px;
    border-radius: 60px;
    font-size: x-large
    
}
.comentario {
    background-color: #0ec51d;
    box-shadow: 30px 10px 80px  #169e0c;
    position: static;
    border: 3px solid #000000;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.titulo1 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  black;
    text-align: center;
    text-shadow: -5px -5px 5px #09b300;
    font-size:48px

}

.botonpublicar {
    width: 100px;

}

.botonpublicar:hover {
    background-color: #109c10;
}